.womo-hud {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: white;
  box-shadow: 0 0 0 2px #0000001a;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
}

.womo-hud h1 {
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 5px;
}

.womo-hud__controls {
  display: flex;
  gap: 5px;
}
.womo-hud__controls select {
  padding: 5px 10px;
}
@media (max-width: 728px) {
  .womo-hud__controls {
    flex-direction: column;
  }
}
